<div>

    <% for( let index = 0; index < ringtones.length; index++ ) { %>
        <div class="alert alert-primary bg-light" role="alert">

            <a href="<%= ringtones[index].url %>">
                <h1>
                    <%= ringtones[index].title %>
                </h1>
            </a>
            <div>
                <h6>
                    <%= ringtones[index].des %>
                </h6>
            </div>

        </div>
        <% } %>

</div>