<footer class="mastfoot mt-5">
    <div class="area">
        <div>
            <a href="/">Privacy Policy</a></div>
        <div>
            <a href="/">Terms & Conditions</a></div>
        <div>
            <a href="/">About oddfee</a></div>
        <div>ICP No.2021002036-1</div>
    </div>
</footer>