<footer class="mastfoot mt-5">
    <div class="d-flex justify-content-center">
        <p><a href="https://www.oddfee.com"> oddfee </a> Anhui ICP No. 2021002036-1</p>
        <!-- <button id="myfoot">bottom</button> -->
    </div>
</footer>