<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Free Bollywood & Indian MP3 Ringtones for your mobile phone & tablet</title>
    <meta name="Description" content="Download Free Bollywood &amp; Indian MP3 Ringtones to your Android, iPhone and Windows Phone mobile and tablet. Get high quality free bollywood &amp; indian downloadable MP3 Ringtones for your mobile device. Free mobile download from our website www.oddfee.com.">

    <script data-ad-client="ca-pub-6045795189413478" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/foot.css" />
    <link rel="stylesheet" type="text/css" href="/css/audioplayer.css" />
</head>

<body>
    <%- include('navbar') %>
        <!--
            <%- include('carousel') %>
        -->