<%- include("header-photo") %>
    <div class="container-md bg-warning">

        <div class="abs-center-x mt-5">

            <h6 class="welcomepagetitlesmall">Find your favorite photo.</h6>


        </div>

        <div>

        </div>

    </div>

    <%- include("foot") %>