<div>
    <div class="container-md mt-5">
        <h1 class="welcomepagetitle">What are you looking for?</h1>

        <div class="mb-5 mt-5">
            <a href="/ringtone" class="btn btn-light btn-block" role="button" aria-pressed="true">
                <div class="m-5">
                    <h2 class="welcome"><img src="/lib/bootstrap-icons/icons/file-earmark-music.svg" alt="" width="48" height="48" title="play ringtone">Ringtones</h2>
                </div>

            </a>

            <a href="/photoes" class="btn btn-light btn-block mt-5" role="button" aria-pressed="true">
                <div class="m-5">
                    <h2 class="welcome"><img src="/lib/bootstrap-icons/icons/file-image.svg" alt="" width="48" height="48" title="play ringtone">Photoes</h2>
                </div>

            </a>
        </div>


        <h6 class="welcomepagetitlesmall">O que você está procurando?</h6>
        <h6 class="welcomepagetitlesmall">Que cherchez-vous?</h6>
        <h6 class="welcomepagetitlesmall">عما تبحث؟</h6>
        <h6 class="welcomepagetitlesmall">¿Qué estás buscando?</h6>
        <h6 class="welcomepagetitlesmall">何を探していますか？</h6>
        <h6 class="welcomepagetitlesmall">Что вы ищете?</h6>
        <h6 class="welcomepagetitlesmall">你在找什麼？</h6>
        <h6 class="welcomepagetitlesmall">Wat zoek je?</h6>
        <h6 class="welcomepagetitlesmall">Che cosa sta cercando?</h6>
        <h6 class="welcomepagetitlesmall">نېمە ئىزدەۋاتىسىز؟</h6>
        <h6 class="welcomepagetitlesmall">Čo hľadáš?</h6>
        <h6 class="welcomepagetitlesmall">무엇을 찾고 있습니까?</h6>
        <h6 class="welcomepagetitlesmall">Mitä etsit?</h6>
        <h6 class="welcomepagetitlesmall">Czego szukasz?</h6>
    </div>


</div>