html,
body {
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
    background-color: black;
    font-family: myword;
}

a {
    color: #00B7FF;
}

@font-face {
    font-family: myTitle;
    src: url('/fonts/Anton/Anton-Regular.ttf');
}

@font-face {
    font-family: myword;
    src: url('/fonts/Lato/Lato-Regular.ttf');
}

.card-title {
    font-family: myTitle;
}

.card-text {
    font-family: myword;
}


/* .card-body {
    background-color: gray;
} */

.myplaybutton {
    position: relative;
    top: 30px;
    left: 20px;
    /* background-color: purple; */
}

#ringtonedes {
    height: 750px;
    width: 100%;
    background-color: purple;
    border-radius: .25rem;
}

.content {
    padding-left: 15px;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: .25rem;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}


/* end foot*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .my-dropdown-menu {
        width: 300px;
        height: 400px;
        /* background-color: rosybrown; */
        overflow-y: auto;
        overflow-x: hidden;
    }
    .mypagination {
        visibility: hidden;
    }
    #loading {
        visibility: hidden;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .my-dropdown-menu {
        background-color: whitesmoke;
        color: whitesmoke;
        width: 540px;
        height: auto;
    }
    .mypagination {
        visibility: visible;
    }
    #loading {
        visibility: hidden;
    }
}


/* welcome page*/

.welcomepagetitle {
    color: whitesmoke;
}

.welcomepagetitlesmall {
    color: grey;
    font-family: myword;
}

.welcome {
    color: purple;
}


/* search */

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.searcharea {
    padding-left: 30px;
    padding-right: 30px;
}

.container-md {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

.area {
    padding-left: 30px;
    padding-right: 30px;
}


/** photo download info */

.myphotoinfo {
    margin-right: 30px;
}